:root {
  --primary: #d04b4b;
  --purple: #ffffff;
  --stroke: #d9d9d9;
  --black: #232323;
  --chart-color: #909090;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #fcf9f9;
  color: var(--black);
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.select-wrapper::after {
  content: "▼";
  font-size: 0.75rem;
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.divider {
  border: none;
  border-bottom: 1px solid var(--stroke);
  margin: 1rem 0;
}

.map {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid var(--stroke);
  padding: 2rem;
  border-radius: 10px;
  /* background-color: white;
  border: 1px solid var(--stroke);
  padding: 1rem; */
}

.country {
  /* fill: #9f9f9f; */
  cursor: pointer;
}
.country:hover {
  fill: #d04b4b;
}

.countries-list {
  display: flex;
  flex-direction: column;

  list-style-type: none;

  width: 500px;
  align-items: flex-end;
  background-color: white;
  border: 1px solid var(--stroke);
  z-index: 2;
  border-radius: 10px;
}

.countries-list ul {
  overflow: auto;
  width: 100%;
}

/* width */
.countries-list ul::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.countries-list ul::-webkit-scrollbar-track {
  background: #ededed;
  border-radius: 10px;
}

/* Handle */
.countries-list ul::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

/* Handle on hover */
.countries-list ul::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.country-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--stroke);
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease background-color, 0.2s ease color;
}

.country-item--hover {
  background-color: #35354f;
  color: white;
}

.country-item:hover {
  background-color: #35354f;
  color: white;
}

/* .country-item--hover .country-item__indicator {
  outline: 2px solid #f1f1f0;
}

.country-item:hover .country-item__indicator {
  outline: 2px solid #f1f1f0;
} */

.country-item__image {
  width: 18px;
  margin-right: 6px;
  display: block;
}

.country-item__indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.country-item__check {
  margin-right: 16px;
  -webkit-appearance: none;
  background-color: #f1f1f0;
  border: 1px solid #f1f1f0;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.country-item__check:checked {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: #99a1a7;
}

.country-item__check:checked:after {
  content: "\2714";
  font-size: 13px;
  position: absolute;
  top: 0px;
  left: 4px;
  color: white;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  padding: 1.5rem 0;
  font-size: 20px;
  height: 250px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-section {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 7rem);
  gap: 2rem;
  margin-top: 5rem;
}

.chart-selector {
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: 1px solid var(--stroke);
  border-radius: 10px;
  padding: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.input {
  border: 1px solid var(--stroke);
  width: 150px;
  padding: 0.75rem 1rem;
  border-radius: 10px;
}

.input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.map-selector {
  width: 100%;
  border-radius: 0;
  padding: 0.75rem 0.75rem;
  margin: 1rem;
}

.continent-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 100%;
}

.chart-or-map {
  list-style: none;
  display: flex;
}

.chart-or-map li {
  padding: 0 1rem;
  cursor: pointer;
  transition: 0.2s ease border-bottom;
  position: relative;
  padding-bottom: 0.75rem;
  font-size: 14px;
}

.chart-or-map li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2.5px;
  transition: 0.2s ease background-color;
}

.chart-or-map li:hover::after {
  background-color: rgba(208, 75, 75, 0.5);
}

.chart-or-map li.active {
  font-weight: bold;
}

.chart-or-map li.active::after {
  background-color: var(--primary);
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 2rem;
}

.shadow {
  box-shadow: 0px 0px 20px -10px rgba(51, 50, 59, 0.2);
}

.view {
  flex: 1;
}

.view__title {
  padding-bottom: 1.5rem;
}

.view__subtitle {
  font-weight: normal;
  font-size: 20px;
  margin-top: 0.25rem;
}

.view__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.view__divider {
  margin: 0;
  margin-bottom: 3rem;
  border-bottom: 3px solid var(--stroke);
}

.domain {
  stroke: #bdbdbd;
}

.tick line {
  stroke: #bdbdbd;
}

.tick text {
  fill: #bdbdbd;
}

.continentor circle {
  opacity: 0.3;
  stroke: white;
}
.country-text {
  fill: white;
  font-size: 10px;
  text-anchor: middle;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.slider-range {
  width: 100%;
  margin: 0 2rem;
}

.ui-slider-handle {
  background-color: white !important;
  border: 2px solid var(--primary) !important;
  border-radius: 50% !important;
  top: -0.6em !important;
  width: 1.8em !important;
  height: 1.8em !important;
}

.ui-widget-header {
  background-color: var(--primary) !important;
}

.date-range {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
}

.date-range span {
  font-size: 14px;
  /* font-weight: bold; */
}

.simulation-button {
  background-color: rgb(3, 177, 58);
  border: none;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.simulation-button.playing {
  background-color: var(--primary);
}

.simulation-button i {
  margin-right: 10px;
}

.legend-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.legend__item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.legend__color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.legend__text {
  font-size: 12px;
}

.chart-labels {
  fill: var(--chart-color);
}
